<h1>hello from the index action</h1>



<br>

<% @recipes.each do |recipe| %>
  <p>title: <%= recipe.title %></p>
  <a href="/recipes/<%= recipe.id %>">Go to the show page</a>
  <p>chef: <%= recipe.chef %></p>
  <hr>
<% end %>
