new.html.erb
hello from the new action

<form action="/recipes" method="post">
  <p>title: <input type="text" name="title"></p>
  <p>chef: <input type="text" name="chef"></p>
  <p>ingredients: <input type="text" name="ingredients"></p>
  <p>directions: <input type="text" name="directions"></p>
  <p>prep time: <input type="text" name="prep_time"></p>
  <p>image url: <input type="text" name="image_url"></p>
  <input type="submit" value="make a recipe">
</form>
